<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518657961819-j8vkfjkieeasm4efjq01ijgmb53jv410.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518657961819-j8vkfjkieeasm4efjq01ijgmb53jv410</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518657961819-8tqm6ffibaqf2f1gj0g7olukl2f79oft.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzKYEQe7KBUtT4w6HgbPK90XGNHMPT2ls</string>
	<key>GCM_SENDER_ID</key>
	<string>518657961819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navabase.vocablii</string>
	<key>PROJECT_ID</key>
	<string>vocably-c0fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>vocably-c0fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518657961819:ios:5a5f0d174cad69e06b747e</string>
	<key>DATABASE_URL</key>
	<string>https://vocably-c0fa9.firebaseio.com</string>
</dict>
</plist>